body {
        margin-right: 0;
        margin-left: 0;
        a {
                text-decoration:none;
                }

        header {
                min-height: 750px;
                background-image: url("../image/background1.jpg");
                 background-repeat: no-repeat;
                background-size:cover;
        
                #blockmarge {
                        margin-left: 11%;
                        margin-right:11%;
                        text-decoration: none;
                        

                        nav {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                
                                

                                        #logo{
                                                

                                        #textemenu{
                                                #menuhorizontal{    
                                                        display: inline;
                                                        list-style-type:none; /* enlever les puces de l'élément "liste à puce" */
                                                        text-align:center;

                                                        
                                                        
                                                                                                                
                                                }
                                        #reseaux{

                                        }
                                        }        
                                        }

                                       


                                 
                        }
}       }       }